@{
  Layout = "_Layout";
}

@using SearchCoach.Models
@model SearchCoach.Models.Application
<div class="jumbotron text-center">

<h2>Application Details:</h2>
<hr />
<h3 class="border-bottom border-secondary pb-3">@Html.DisplayFor(model => model.Role) at @Html.DisplayFor(model => model.Company.Name)</h3>

@if(@Model.Company == null)
{
  <p>This Application does not belong to a company</p>
}
else
{
  <table class="table table-bordered table-hover table-sm table-responsive-lg">
  <thead>
    <tr class="table-light">
      <th scope="col">Role</th>
      <th scope="col">ResumeURL</th>
      <th scope="col">CoverLetterURL</th>
      <th scope="col">IsRemote</th>
      <th scope="col">IsHybrid</th>
      <th scope="col">TechStack</th>
      <th scope="col">Network</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row">@Html.DisplayFor(model => model.Role) </th>
      <th>@Html.DisplayFor(model => model.ResumeURL) </th>
      <th>@Html.DisplayFor(model => model.CoverLetterURL) </th>
      <th>@Html.DisplayFor(model => model.IsRemote) </th>
      <th>@Html.DisplayFor(model => model.IsHybrid) </th>
      <th>@Html.DisplayFor(model => model.TechStack) </th>
      <th>@Html.DisplayFor(model => model.Network) </th>
      <th>@Html.DisplayFor(model => model.Company.Name) </th>


    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover table-sm table-responsive-lg">
  <thead>
    <tr class="table-light">
      <th scope="col">Stage</th>
      <th scope="col">Notes</th>
      <th scope="col">PhoneScreen</th>
      <th scope="col">Interview1</th>
      <th scope="col">Interview2</th>
      <th scope="col">WhiteBoarding</th>
      <th scope="col">Offer</th>
    </tr>
  </thead>

  <tbody>
    <tr class="table-light">
      <th>@Html.DisplayFor(model => model.Status.Stage) </th>
      <th>@Html.DisplayFor(model => model.Status.Notes) </th>
      <th>@Html.DisplayFor(model => model.Status.PhoneScreen) </th>
      <th>@Html.DisplayFor(model => model.Status.Interview1) </th>
      <th>@Html.DisplayFor(model => model.Status.Interview2) </th>
      <th>@Html.DisplayFor(model => model.Status.WhiteBoarding) </th>
      <th>@Html.DisplayFor(model => model.Status.Offer) </th>
    </tr>
  </tbody>
</table>
}
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Application", "Create", new { id = Model.ApplicationId })</p>
<p>@Html.ActionLink("Edit Application", "Edit", new { id = Model.ApplicationId })</p>
<p>@Html.ActionLink("Delete Application", "Delete", new { id = Model.ApplicationId })</p>