@{
  Layout = "_Layout";
}

@using SearchCoach.Models


<h1>Aplications</h1>

@if (Model.Count == 0)
{
  <h3>No applications have been added yet!</h3>
} 
else
{
  <table class="table table-bordered table-hover table-sm table-responsive-lg">
  <thead>
      <tr class="table-light">
      <th scope="col">Role</th>
      <th scope="col">ResumeURL</th>
      <th scope="col">CoverLetterURL</th>
      <th scope="col">IsRemote</th>
      <th scope="col">IsHybrid</th>
      <th scope="col">TechStack</th>
      <th scope="col">Network</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Application application in Model)
    {
      <tr class="table-light">
        <th scope="row">@Html.ActionLink($"{application.Role}", "Details", new { id = application.ApplicationId })</th>
        <th>@application.ResumeURL</th>
        <th>@application.CoverLetterURL </th>
        <th>@application.IsRemote </th>
        <th>@application.IsHybrid </th>
        <th>@application.TechStack </th>
        <th>@application.Network </th>
        <th>@Html.ActionLink($"{application.Company.Name}", "Details", "Companies", new { id = application.Company.CompanyId })</th>
      </tr>
    }

  </tbody>
</table>
}


<p>@Html.ActionLink("Add new application", "Create")</p>