@{
  Layout = "_Layout";
}

@using SearchCoach.Models;
<h1 class="welcome">Welcome to the Search Coach!</h1>


<div class="row">
  <div class="col-lg-4 user-info">
    <div class="user-stat-outer">
      <img src="/img/profile-photo.jpg" alt="profile-photo" class="profile-photo">
      <h4>Bodie's Status</h4>
    </div>

    <div class="user-stat-inner">
    <div><h4>Stat 1</h4></div>
    <hr>
    <div><h4>Stat 2</h4></div>
    <hr>
    <div><h4>Stat 3</h4></div>
    <hr>
    <div><h4>Stat 4</h4></div>
  </div>
  </div>
  
<div class="home-index text-center col-lg-8 application-info">

  <div class="mb-4 pt-2 index-application">
    <h2>Applications</h2>
    @if (Model["applications"].Length == 0)
    {
      <h3>No applications have been added yet!</h3>
    } 
    <ul class="list-group">
      @foreach (Application application in Model["applications"])
      {
        <li class="list-group-item list-group-item-action">@Html.ActionLink(@application.Role, "Details", "Applications", new { id = @application.ApplicationId}) | </li>
      }
    </ul>
  </div>

</div>
  
</div>



  <img src="img/pointer.png" alt="" id="pointer">
  <div class="row manage">
  <div class="col"><p class="enlarge">@Html.ActionLink("Manage Companies", "Index", "Company")</p> </div>
  <div class="col"><p class="enlarge">@Html.ActionLink("Manage Applications", "Index", "Application")</p> </div>
  <div class="col"><p class="enlarge">@Html.ActionLink("Create or manage an account", "Index", "Account")</p></div>
</div>