@{
  Layout = "_Layout";
}

<h1 style="margin-top: 5%;">Create Company</h1>

@model SearchCoach.Models.Company
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (@Html.BeginForm())
{
  <h3>Company: @Html.TextBoxFor(model => model.Name, new { placeholder="Company Name"})</h3>
  <input type="submit" value="Create" class="btn btn-info">
}

<p class="enlarge" style="margin-top: 3%;">@Html.ActionLink("Back to Companies", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>