@{
  Layout = "_Layout";
}

<h1 style="margin-top: 5%; margin-bottom: 3%">Company Details</h1>


@model SearchCoach.Models.Company
@using SearchCoach.Models
<div class="jumbotron">
<h1>@Html.DisplayFor(model => Model.Name)</h1>
@if (@Model.Applications.Count == 0)
{
  <h3>No applications have been added to this stylist yet!</h3>
} 
else
{
  
  <ul class="mb-5 list-group list-group-flush">
    <li class="list-group-item">Application List:</li>
@foreach (Application application in Model.Applications)
        {
          <li class="list-group-item list-group-item-action">@Html.ActionLink(@application.Role, "Details", "Applications", new { id = @application.ApplicationId}) </li>
        }
  </ul>
}


</div>
<p class="enlarge">@Html.ActionLink("Edit Company", "Edit", new { id = Model.CompanyId})</p>
<p class="enlarge">@Html.ActionLink("Delete Company", "Delete", new { id = Model.CompanyId})</p>
<p class="enlarge">@Html.ActionLink("Back to Company", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>